<li>
  <span class="content"><%= wish.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(wish.created_at) %> ago.
  </span>

  <% if current_user?(wish.user) %>
    <%= link_to "delete", wish, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: wish.content %>
  <% end %>
</li>